<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <div class="container">

        <table class="table table-striped">

            <tr>
                <td>name</td>
                <td>occation</td>
                <td>images</td>
                <td>action</td>
            </tr>

            {%for ck in cake%}
            <tr>
                <td>{{ck.category}}</td>
                <td>{{ck.occation}}</td>


                <td>
                    <img src="{{ck.images.url}}" alt="" width="100%" height="300px" style="object-fit: contain;">
                </td>


                <td>
                    <a href="{%url 'occation-remove' ck.id%}">delete</a>
                    <a href="{%url 'add-varient' ck.id%}">add cake varient</a>
                    <a href="{%url 'detail-varient' ck.id%}">view</a>
            

                </td>

            </tr>
            {%endfor%}

        </table>




    </div>


</body>

</html>